{% extends "styleguide_base.html" %}
{% load app_tags %}

{% block styleguide_content %}
    <h4>Text Styles</h4>
    <div class="my-20 max-w-md+">

        {# h1 #}
        <div class='grid columns'>
            <div class='c2'>
                <p class='text-xs'><strong>Fonts</strong></p>
            </div>
            <div class='col'>
                <div>
                    <h5>Default font: DM Sans</h5>
                    <p class='text-xs mt-0'>
                        <a href='https://fonts.google.com/specimen/DM+Sans'>
                            https://fonts.google.com/specimen/DM+Sans
                        </a>
                    </p>
                    <p class='font-default'>
                        <strong class='text-xs opacity-50'>.font-default</strong><br />
                        Lorem ipsum dolor sit amet, posse philosophia cu vix.
                    </p>

                    <p class='font-default-medium'>
                        <strong class='text-xs opacity-50'>.font-default-medium</strong><br />
                        Lorem ipsum dolor sit amet, posse philosophia cu vix.
                    </p>

                    <p class='font-default-bold'>
                        <strong class='text-xs opacity-50'>.font-default-bold</strong><br />
                        Nec ignota possim delectus id, duo quis utinam in.
                    </p>
                </div>

                <div class='mt-20'>
                    <h5>Display font: DM Serif Text</h5>
                    <p class='text-xs mt-0'>
                        <a href='https://fonts.google.com/specimen/DM+Serif+Text'>
                            https://fonts.google.com/specimen/DM+Serif+Text
                        </a>
                    </p>
                    <p class='font-display'>
                        <strong class='text-xs opacity-50'>.font-display</strong><br />
                        Lorem ipsum dolor sit amet, posse philosophia cu vix.
                    </p>
                </div>
            </div>
        </div>

        <div class="container border-top mt-10">
            <div class="grid flex-ai-start">
                <div class="c3 mt-24">
                    <p class="xsmall">H1</p>
                </div>
                <div class="c9 mt-24">
                    <h1>Broadcasting the joy of te reo Maori</h1>
                </div>

                <div class="c3 mt-24">
                    <p class="xsmall">H1.small</p>
                </div>
                <div class="c9 mt-24">
                    <h1 class="small">Documents</h1>
                </div>

                <div class="c3 mt-24">
                    <p class="xsmall">H2</p>
                </div>
                <div class="c9 mt-24">
                    <h2>Diverse content for diverse audiences</h2>
                </div>

                <div class="c3 mt-24">
                    <p class="xsmall">H3</p>
                </div>
                <div class="c9 mt-24">
                    <h3>Evolving media landscape</h3>
                </div>

                <div class="c3 mt-24">
                    <p class="xsmall">H4</p>
                </div>
                <div class="c9 mt-24">
                    <h4>Māori Whakaata</h4>
                </div>

                <div class="c3 mt-24">
                    <p class="xsmall">H5</p>
                </div>

                <div class="c9 mt-24">
                    <h5>Recordings & Publicity</h5>
                </div>

                <div class="c3 mt-24">
                    <p class="xsmall">H6</p>
                </div>

                <div class="c9 mt-24">
                    <h6>Mixed-platform</h6>
                </div>

                <div class="c3 mt-24">
                    <p class="xsmall">p</p>
                </div>

                <div class="c9 mt-24">
                    <p>In response to this, our funding model is now ‘platform-agnostic’. This means we no longer allocate specific funding for specific platforms such as Television or New Media; instead we allocate funding based on the amount of te reo content within each project, referred to as ‘Receptive’ or ‘Fluent’. This funded content may appear on TV, online, or both – or somewhere else!</p>
                </div>

                <div class="c3 mt-24">
                    <p class="xsmall">p.large</p>
                </div>

                <div class="c9 mt-24">
                    <p class="large">The media landscape continues to evolve at an increasing rate, with an ever-expanding range of delivery platforms along with growing expectation from audiences for on-demand content served up on their preferred platform.</p>
                </div>

                <div class="c3 mt-24">
                    <p class="xsmall">p.small</p>
                </div>
                <div class="c9 mt-24">
                    <p class="small">Recording, music video production, publicity, music wānanga to develop new artist talent is the types of music funding we provide.</p>
                </div>

                <div class="c3 mt-24">
                    <p class="xsmall">p.xsmall</p>
                </div>
                <div class="c9 mt-24">
                    <p class="xsmall">Te Māngai Pāho reserves the right to vary dates and rounds if required. To keep up with the latest announcements, subscribe to our email newsletter.</p>
                </div>
            </div>
        </div>


        <div class='grid columns mt-20 '>
            <div class='c2'>
                <p class='text-xs'><strong>Util classes</strong></p>
            </div>
            <div class='col'>

                <div class='flex flex-ai-center mt-4'>
                    <code class='text-xs w-24 mr-2'>.text-2xs</code>
                    <span class='text-2xs'>0.65rem / 10.4px</span>
                </div>

                <div class='flex flex-ai-center mt-4'>
                    <code class='text-xs w-24 mr-2'>.text-xs</code>
                    <span class='text-xs'>0.75rem / 12px</span>
                </div>

                <div class='flex flex-ai-center mt-4'>
                    <code class='text-xs w-24 mr-2'>.text-sm</code>
                    <span class='text-sm'>0.875rem / 14px</span>
                </div>

                <div class='flex flex-ai-center mt-4'>
                    <code class='text-xs w-24 mr-2'>.text-base</code>
                    <span class='text-base'>1rem / 16px</span>
                </div>

                <div class='flex flex-ai-center mt-4'>
                    <code class='text-xs w-24 mr-2'>.text-lg</code>
                    <span class='text-lg'>1.125rem / 18px</span>
                </div>

                <div class='flex flex-ai-center mt-4'>
                    <code class='text-xs w-24 mr-2'>.text-xl</code>
                    <span class='text-xl'>1.25rem / 20px</span>
                </div>

                <div class='flex flex-ai-center mt-4'>
                    <code class='text-xs w-24 mr-2'>.text-2xl</code>
                    <span class='text-2xl'>1.5rem / 24px</span>
                </div>

                <div class='flex flex-ai-center mt-4'>
                    <code class='text-xs w-24 mr-2'>.text-3xl</code>
                    <span class='text-3xl'>1.875rem / 30px</span>
                </div>

                <div class='flex flex-ai-center mt-4'>
                    <code class='text-xs w-24 mr-2'>.text-4xl</code>
                    <span class='text-4xl'>2.25rem / 36px</span>
                </div>

                <div class='flex flex-ai-center mt-4'>
                    <code class='text-xs w-24 mr-2'>.text-5xl</code>
                    <span class='text-5xl'>3rem / 48px</span>
                </div>

                <div class='flex flex-ai-center mt-4'>
                    <code class='text-xs w-24 mr-2'>.text-6xl</code>
                    <span class='text-6xl'>4rem / 64px</span>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
